::ng-deep #vector-map {
    height: 700px;
    width: 100%;
    display: block;
}

h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
::ng-deep #gdp-sectors {
    width: 400px;
    height: 200px;
    display: block;
}