@{
    ViewBag.Title = "Sales";
}
<div class="page">
    <div class="layout-box">

        <div class="content">
            <h3 class="indent">@(ViewBag.Title.ToUpper()) BY DATE RANGE</h3>
            <div class="hb-1">
                <div class="grid-container" id="grid"></div>
            </div>
        </div>
        
    </div>
</div>

@section descriptionTextForPopup{

    <p>From desktop to mobile browsers, our high performance HTML 5 Data Grid is built to a meet and exceed the needs of your enterprise.</p>

    <p>Widgets showcased on this page:</p>

    <p><a target="_blank" href="http://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/" ><b>Data Grid</b></a> - used to display sales stored in the database. Data grouping and sorting have been enabled to simplify data analysis. Filtering is easy with the built-in search box.</p>

    <p><a target="_blank" href="http://js.devexpress.com/Documentation/ApiReference/Data_Visualization_Widgets/dxRangeSelector/"><b>Range Control</b></a> – used to visually specify date range parameters. A line chart within the widget illustrates sales patterns over time.</p>  


}