::ng-deep #popup {
    padding: 10px;
}
::ng-deep #popup ul {
    list-style-type: none;
    text-align: center;
}
::ng-deep #popup ul li {
    display: inline-block;
    width: 160px;
    margin: 10px;
}
::ng-deep #popup ul li img{
    width: 100px;
}
::ng-deep .button-info {
    margin: 10px;
}
::ng-deep .popup p {
    margin-bottom: 10px;
    margin-top: 0;
}